{% extends 'layout.html' %}
{% block content %}
    {% if stories | length  == 0 %}
        <p>No entries here so far :/</p>
    {% endif %}
    <ol class="list-group">
        {% for story in stories %}
            <li class="story list-group-item">
                <h4><a href="{{ story.url }}">{{ story.title }}</a></h4>

                <p>
                    {{ story.score }} points by <span class="text-muted">{{ story.by }}</span>.
                    <a role="button" data-toggle="collapse" href="#commentList{{ loop.index }}" aria-expanded="false"
                       aria-controls="commentList{{ loop.index }}">
                        {{ story.comments | length }} comments
                    </a>
                </p>

                <div class="collapse" id="commentList{{ loop.index }}">
                    <div class="well">
                        {% for comment in story.comments recursive %}
                            <div class="comment">
                                <span class="text-muted">{{ comment.by }}</span>

                                <div class="comment-body">{{ comment.text | safe }}</div>
                                {%- if comment.comments -%}
                                    <ul class="subcomment">{{ loop(comment.comments) }}</ul>
                                {%- endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ol>

{% endblock %}
