{% extends 'layout.html' %}
{% block content %}
    {% if stories | length  == 0 %}
        <p>No entries here so far :/</p>
    {% endif %}
    <ol class="list-group">
        {% for story in stories %}
        <li class="story list-group-item">
            <span>{{ loop.index }}</span>
            <h3><a href="{{ story.url }}">{{story.title}}</a></h3>
            <p>{{ story.score }} points by {{ story.by }}. {{ story.comments | length }} comments</p>
        </li>
        {% endfor %}
    </ol>

{% endblock %}
